@import url("https://fonts.googleapis.com/css2?family=Arima:wght@100;200;300&family=Charm&family=Hina+Mincho&family=Nunito:ital,wght@0,200;1,200;1,400&family=Rancho&display=swap");

:root {
  --background-color: #f1f1f1;
  --primary-color: #40a798;
}
body {
  margin: 0;
  font-family: "Hina Mincho" "Arima" "Charm" "Nunito" "Rancho" "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.primary {
  color: var(--primary-color);
}

* {
  text-decoration: none;
}

ul {
  list-style-type: none;
}
a {
  list-style-type: none;
  color: #476268;
}
h1 {
  font-size: 3.5rem;
  line-height: 1.2;
  color: black;
}

h2 {
  font-size: 2.4rem;
  line-height: 1.2;
}

h5 {
  font-size: 1.1rem;
  line-height: 1.2;
}

p {
  font-size: 1.2rem;
}

.btn {
  padding: 14px 32px;
  border: 1px solid var(--primary-color);
  background-color: #40a798;
  color: white;
  border-radius: 24px 4px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
}

.btn:hover {
  box-shadow: rgb(0 0 0 /15%) 0px 8px 24px;
}
input {
  padding: 12px 32px;
  border: 1px solid var(--primary-color);
  background: transparent;
  font-size: 1rem;
  margin: 0.8rem;
  font-family: "Hina Mincho";
}
/*end of globals*/
/*SIde bar */
.side-container {
  display: flex;
}
.sidebar {
  background-color: #40a798;
  height: 100vh;
  width: 50vh;
  position: fixed;
  display: none;
}

.top-section {
  display: flex;
  align-items: center;
  padding: 20px 15px;
}
.logo {
  font-size: 64px;
}

.link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  transition: all 0.5s;
}

.link:hover {
  background: #fafafa;
  color: black;
}

.active {
  background-color: #fafafa;
}
.icon {
  margin-right: 18px;
  font-size: 53px;
}
.link-text {
  font-size: 24px;
}
main {
  background-color: white;
  width: 100%;
}
/*end of sidebar*/

/*nabvbar */
.header {
  width: 100%;
  height: 10vh;
  border-bottom: 1px solid #eee;
  position: sticky;
  top: 0;
  left: 100;
  z-index: 10;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.colors {
  color: var(--primary-color);
}

.nav-menu {
  position: absolute;
  flex-direction: column;
  justify-content: start;
  top: 52px;
  height: 100vh;
  display: none;
  width: 50%;
  transition: 0.2s;
  z-index: 2;
  background-color: aliceblue;
  border-left: 1px solid black;
}

.nav-menu.show {
  display: flex;
  right: 0;
}

.nav-menu li {
  padding: 1rem;
  width: 100%;
}

.nav-menu li a {
  font-size: 1.2rem;
}

/*Hero section*/

.hero .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 4rem auto;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.hero .left {
  padding: 1rem;
}
.hero h1 {
  padding: 1rem 0;
}
.hero .input-container {
  padding: 1rem 0;
}

.hero .right {
  padding: 1rem;
}
.hero .img-container {
  width: 600px;
  display: flex;
}
.hero img {
  max-width: 80%;
  margin: auto;
}

/*featured part*/

.featured {
  width: 100%;
  padding: 8rem 0;
  background-color: var(--background);
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 90%);
}

.featured .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.featured .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 2rem;
}

.featured .left p {
  margin: 1.5rem 0;
}

.featured .left .btn {
  align-self: flex-start;
}

.featured .right {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.featured .right .card {
  display: flex;
  flex-direction: column;
  padding: 12px 22px;
  margin: 0.4rem;
  width: 190px;
  height: 190px;
  border-radius: 24px;
  border: 1px solid #d3d3d3;
  box-shadow: rgb(0 0 0 / 12%) 0px 8px 24px;
  text-align: center;
}

.featured .right .card:hover {
  box-shadow: rgb(0 0 0 / 20%) 0px 8px 24px;
}

.featured .card .top {
  display: flex;
  flex-direction: column;
}

.featured .right img {
  width: 50px;
  margin: auto;
  padding: 0.2rem 0;
}

.featured .icon {
  font-size: 36px;
  margin: auto;
  padding-top: 6px;
  justify-content: center;
  align-items: center;
}

.featured span {
  font-size: 22px;
}

.green {
  color: var(--primary);
}

.red {
  color: #ff0000;
}

.price {
  margin-bottom: 50px;
}

@media screen and (max-width: 940px) {
  .featured .container {
    grid-template-columns: 1fr;
  }

  .featured .left .btn {
    align-self: center;
  }
}

@media screen and (max-width: 478px) {
  .featured .container .right .card {
    width: 100%;
  }
}

@media screen and (max-width: 950px) {
  .hero .container {
    grid-template-columns: 1fr;
    margin: 1rem auto;
  }
  .hero .img-container {
    width: 100%;
  }
}
@media screen and (max-width: 789px) {
  h1 {
    font-size: 2.1rem;
    line-height: 1.2;
  }

  h2 {
    font-size: 1.5rem;
    line-height: 1.2;
  }

  h5 {
    font-size: 1.1rem;
    line-height: 1.2;
  }

  p {
    font-size: 1rem;
  }

  .btn {
    width: 100%;
    margin: 1rem 0;
  }
}

@media screen and (max-width: 450px) {
  .sidebar {
    position: absolute;
    flex-direction: column;
    justify-content: start;
    top: 0px;
    width: 50%;
    left: -100%;
    height: 200vh;
    transition: 0.4s;
    z-index: 2;
    border-left: 1px solid #40a798;
  }
  .link-text {
    transition: all 0.5s;
    width: 100%;
    margin-left: -10px;
  }
}
